//Variables of word monetize
@black : #000000;
@white : #ffffff;
@white-2 : #fcfcfc;
@white-3: #f4f4fa;
@white-4: #f2f4f9;
@white-5:#fafafa;
@grey : #eeeeee;
@grey-1: #dbdbdb;
@grey-2: #cfcfcf;
@dark-grey: #4d4d4d;
@dark-grey-1: #767576;
@blue : #171649;
@light-blue :#64aeff ;
@pink: #df185b;
@pink-1:#e3185b;
@yellow: #ffc248;
@light-red:#f16f63 ;
@green : #0eb3a1;
@beige : #a6a5bd;
@ship-cove-1: #6b80be;
@ship-cove-2: #6b80ba;

//<--------Overrides the ant design variables--------->
@primary-color: @pink;
@link-color: @pink; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 3.4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers

@font-face{
    font-family: "Poppins";
    src: url("./fonts/Poppins-Black.ttf") format("truetype");
}

@font-family: 'Poppins';
//<-------Overrides the ant design variables---------->